<div class="main-container">
  <header class="header-6">
    <cv-header></cv-header>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-6">
          <div class="card">
            <div class="card-header">
              List of Employees
            </div>
            <div class="card-block">
              <cv-list></cv-list>
            </div>
          </div>
        </div>
        <div class="clr-col-6">
          <div class="card">
            <div class="card-header">
              Employee Details
            </div>
            <div class="card-block">
              <cv-details></cv-details>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <nav class="sidenav">
      <cv-sidenav></cv-sidenav>
    </nav> -->
  </div>
</div>
